$color-primary: #ffffff;
$color-additional: #0074fd;
$color-background: #f2f2f2;
$color-main-block: #d8ecff;
$color-text: #7e7e7e;
$color-header: #424242;

$content-width: 1200px;
$tablet-width: 850px;
$tablet-small-width: 735px;
$mobile-big-width: 390px;
$mobile-small-width: 380px;
